In [47]:
import sqlite3

In [48]:
conn = sqlite3.connect("films.db")

In [49]:
c = conn.cursor()

In [50]:
c.execute("""
    CREATE TABLE FILMS (
        film_name text,
        year integer,
        genre text) """)

In [52]:
c.execute(""" INSERT INTO FILMS VALUES 
("FORREST-GUMP",1996,"ROMANCE/COMEDY"),
("SHAWSHANK-REDEMPTION",1996,"ACTION"),
("OPPENHIMER",2023,"SCI-FI"),
("MEET-JOE-BLACK",1998,"ROMANCE/COMEDY")
""")

In [55]:
c.execute("SELECT * FROM FILMS WHERE year=1996")

In [59]:
c.fetchall()

[]